In [1]:
import pandas as pd
import numpy as np
from linearmodels import PanelOLS
from stargazer.stargazer import Stargazer

In [2]:
muni = pd.read_stata('mexico_muni_compressed2.dta')
muni

,muni_code,state,municipality,year,month,temp_pop,precip_pop,id,rural,agriculture,...,temp_ac,progresa_per_capita,c_progresa_per_capita,temp_progresa,growing_season,temp_growing_season,state_id,sm,sy,temp_bin_pop_28_Inf
0,1001,Aguascalientes,Aguascalientes,2001,4,23.817400,0.113894,1,0.098599,0.058801,...,-1.352743,0.002714,-0.002086,-0.009950,1,4.769073,1,4,12,0.0
1,1001,Aguascalientes,Aguascalientes,1998,4,22.207600,0.000000,1,0.098599,0.058801,...,-0.896125,0.000000,-0.004800,-0.015165,1,3.159273,1,4,9,0.0
2,1001,Aguascalientes,Aguascalientes,2001,11,16.335100,0.038703,1,0.098599,0.058801,...,0.769604,0.004456,-0.000344,0.000932,0,0.000000,1,11,12,0.0
3,1001,Aguascalientes,Aguascalientes,2000,2,17.702499,0.002461,1,0.098599,0.058801,...,0.381742,0.002706,-0.002094,0.002818,0,0.000000,1,2,11,0.0
4,1001,Aguascalientes,Aguascalientes,2001,7,21.856300,1.110245,1,0.098599,0.058801,...,-0.796479,0.001304,-0.003496,-0.009817,1,2.807974,1,7,12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618907,32058,Zacatecas,Santa María de la Paz,1994,5,26.773199,0.082976,2439,NaN,NaN,...,NaN,NaN,NaN,NaN,1,5.069401,32,377,656,0.0
618908,32058,Zacatecas,Santa María de la Paz,1994,10,23.050100,0.558740,2439,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,32,382,656,0.0
618909,32058,Zacatecas,Santa María de la Paz,1997,11,19.530899,0.683117,2439,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,32,383,659,0.0
618910,32058,Zacatecas,Santa María de la Paz,1994,11,20.543400,0.122095,2439,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,32,383,656,0.0
618911,32058,Zacatecas,Santa María de la Paz,1996,2,19.468500,0.262075,2439,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0.000000,32,374,658,0.0

In [3]:
state = pd.read_stata('mexico_state_jebo.dta')
state

C:\Users\Alice Modica\AppData\Local\Temp\ipykernel_18756\3032630802.py:1: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  state = pd.read_stata('mexico_state_jebo.dta')

,id,year,state,month,temperature,homsegob_rate,kid_rate,ext_rate,car_rate,precipitation
0,1804,1990,Aguascalientes,1,15.166670,NaN,NaN,NaN,NaN,0.007000
1,1804,1990,Aguascalientes,2,14.666670,NaN,NaN,NaN,NaN,0.018933
2,1804,1990,Aguascalientes,3,17.866671,NaN,NaN,NaN,NaN,0.002833
3,1804,1990,Aguascalientes,4,19.833330,NaN,NaN,NaN,NaN,0.001133
4,1804,1990,Aguascalientes,5,24.600000,NaN,NaN,NaN,NaN,0.037333
...,...,...,...,...,...,...,...,...,...,...
8059,1835,2010,Zacatecas,8,21.160000,0.402504,0.000000,0.067084,17.576014,0.053152
8060,1835,2010,Zacatecas,9,19.936001,0.603756,0.000000,0.134168,22.875650,0.115984
8061,1835,2010,Zacatecas,10,17.436001,0.805008,0.067084,0.067084,15.965997,0.009844
8062,1835,2010,Zacatecas,11,14.444000,0.872092,0.268336,0.067084,16.234333,0.008048
8063,1835,2010,Zacatecas,12,12.864000,0.939176,0.067084,0.201252,17.710180,0.004112

In [3]:
#We create a variable date to capture both year and month effects, using the first day of the month for each date
muni['day'] = 1
muni['Date'] = pd.to_datetime(dict(year=muni.year, month=muni.month, day=muni.day))
muni

,muni_code,state,municipality,year,month,temp_pop,precip_pop,id,rural,agriculture,...,c_progresa_per_capita,temp_progresa,growing_season,temp_growing_season,state_id,sm,sy,temp_bin_pop_28_Inf,day,Date
0,1001,Aguascalientes,Aguascalientes,2001.0,4.0,23.817400,0.113894,1.0,0.098599,0.058801,...,-0.002086,-0.009950,1.0,4.769073,1.0,4.0,12.0,0.0,1,2001-04-01
1,1001,Aguascalientes,Aguascalientes,1998.0,4.0,22.207600,0.000000,1.0,0.098599,0.058801,...,-0.004800,-0.015165,1.0,3.159273,1.0,4.0,9.0,0.0,1,1998-04-01
2,1001,Aguascalientes,Aguascalientes,2001.0,11.0,16.335100,0.038703,1.0,0.098599,0.058801,...,-0.000344,0.000932,0.0,0.000000,1.0,11.0,12.0,0.0,1,2001-11-01
3,1001,Aguascalientes,Aguascalientes,2000.0,2.0,17.702499,0.002461,1.0,0.098599,0.058801,...,-0.002094,0.002818,0.0,0.000000,1.0,2.0,11.0,0.0,1,2000-02-01
4,1001,Aguascalientes,Aguascalientes,2001.0,7.0,21.856300,1.110245,1.0,0.098599,0.058801,...,-0.003496,-0.009817,1.0,2.807974,1.0,7.0,12.0,0.0,1,2001-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618907,32058,Zacatecas,Santa María de la Paz,1994.0,5.0,26.773199,0.082976,2439.0,NaN,NaN,...,NaN,NaN,1.0,5.069401,32.0,377.0,656.0,0.0,1,1994-05-01
618908,32058,Zacatecas,Santa María de la Paz,1994.0,10.0,23.050100,0.558740,2439.0,NaN,NaN,...,NaN,NaN,0.0,0.000000,32.0,382.0,656.0,0.0,1,1994-10-01
618909,32058,Zacatecas,Santa María de la Paz,1997.0,11.0,19.530899,0.683117,2439.0,NaN,NaN,...,NaN,NaN,0.0,0.000000,32.0,383.0,659.0,0.0,1,1997-11-01
618910,32058,Zacatecas,Santa María de la Paz,1994.0,11.0,20.543400,0.122095,2439.0,NaN,NaN,...,NaN,NaN,0.0,0.000000,32.0,383.0,656.0,0.0,1,1994-11-01
618911,32058,Zacatecas,Santa María de la Paz,1996.0,2.0,19.468500,0.262075,2439.0,NaN,NaN,...,NaN,NaN,0.0,0.000000,32.0,374.0,658.0,0.0,1,1996-02-01

In [4]:
#TABLE 4 COLUMN 5
#We create different tables each time because the dataset is very big and creates problems with storing memory
table_4_hom_df = muni[muni['year'] <= 2006].dropna(subset = ['hom_rate', 'temp_pop', 'temp_income'])
table_4_hom_df = table_4_hom_df.set_index(['muni_code', 'Date'])
table_4_hom_df = table_4_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_income']]
table_4_hom_df

                               state  hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.149856  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  2.608534  124968.4375  13.100000
          2003-07-01       Zacatecas  0.000000  124968.4375  16.400000
          2005-12-01       Zacatecas  1.503913  124968.4375  11.900000
          2004-11-01       Zacatecas  1.517868  124968.4375  13.100000

                      precip_pop  temp_income
muni_code Date
1001      2001-04-01    0.113894     2.531495
          1998-04-01    0.000000     1.676989
          2001-11-01    0.038703    -1.440221
          2000-02-01    0.002461    -0.714385
          2001-07-01    1.110245     1.490514
...                          ...          ...
32056     2003-05-01    1.465000     1.397331
          1993-03-01    0.016000    -0.597725
          2003-07-01    1.907000     0.225235
          2005-12-01    0.031000    -0.896983
          2004-11-01    0.029000    -0.597725

[486132 rows x 6 columns]

In [5]:
mod_table_4 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + temp_income + TimeEffects + EntityEffects', data=table_4_hom_df, weights= table_4_hom_df['popw'])

result_hom = mod_table_4.fit(cov_type='clustered', clusters = table_4_hom_df['state'])

print(result_hom.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1482
No. Observations:              486132   R-squared (Within):              -0.0001
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0669
Time:                        23:30:55   Log-likelihood                -1.034e+06
Cov. Estimator:             Clustered
                                        F-statistic:                      33.295
Entities:                        2383   P-value                           0.0000
Avg Obs:                       204.00   Distribution:                F(3,483543)
Min Obs:                       204.00
Max Obs:                       204.00   F-statistic (robust):             7.6896
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,483543)
Avg Obs:                       2383.0
Min Obs:                       2383.0
Max Obs:                       2383.0

                              Parameter Estimates
===============================================================================
             Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------
temp_pop        0.0138     0.0043     3.1721     0.0015      0.0053      0.0223
precip_pop     -0.0033     0.0081    -0.4103     0.6816     -0.0191      0.0125
temp_income     0.0028     0.0018     1.5827     0.1135     -0.0007      0.0062
===============================================================================

F-test for Poolability: 101.78
P-value: 0.0000
Distribution: F(2585,483543)

Included effects: Entity, Time

In [9]:
#TABLE 4 COLUMN 6
table_4_hom_df = muni[muni['year'] <= 2006].dropna(subset = ['hom_rate', 'temp_pop', 'temp_gini'])
table_4_hom_df = table_4_hom_df.set_index(['muni_code', 'Date'])
table_4_hom_df = table_4_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_gini']]
table_4_hom_df

                               state  hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.149856  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  2.608534  124968.4375  13.100000
          2003-07-01       Zacatecas  0.000000  124968.4375  16.400000
          2005-12-01       Zacatecas  1.503913  124968.4375  11.900000
          2004-11-01       Zacatecas  1.517868  124968.4375  13.100000

                      precip_pop  temp_gini
muni_code Date
1001      2001-04-01    0.113894   2.167502
          1998-04-01    0.000000   1.435862
          2001-11-01    0.038703  -1.233138
          2000-02-01    0.002461  -0.611667
          2001-07-01    1.110245   1.276200
...                          ...        ...
32056     2003-05-01    1.465000  -0.385651
          1993-03-01    0.016000   0.164967
          2003-07-01    1.907000  -0.062163
          2005-12-01    0.031000   0.247560
          2004-11-01    0.029000   0.164967

[482868 rows x 6 columns]

In [10]:
mod_table_4 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + temp_gini + TimeEffects + EntityEffects', data=table_4_hom_df, weights= table_4_hom_df['popw'])

result_hom1 = mod_table_4.fit(cov_type='clustered', clusters = table_4_hom_df['state'])

print(result_hom1.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1638
No. Observations:              482868   R-squared (Within):              -0.0001
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0741
Time:                        23:33:46   Log-likelihood                -1.026e+06
Cov. Estimator:             Clustered
                                        F-statistic:                      32.459
Entities:                        2367   P-value                           0.0000
Avg Obs:                       204.00   Distribution:                F(3,480295)
Min Obs:                       204.00
Max Obs:                       204.00   F-statistic (robust):             6.7431
                                        P-value                           0.0002
Time periods:                     204   Distribution:                F(3,480295)
Avg Obs:                       2367.0
Min Obs:                       2367.0
Max Obs:                       2367.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0155     0.0037     4.1984     0.0000      0.0083      0.0228
precip_pop    -0.0036     0.0082    -0.4453     0.6561     -0.0196      0.0124
temp_gini      0.0008     0.0026     0.3126     0.7546     -0.0043      0.0059
==============================================================================

F-test for Poolability: 102.24
P-value: 0.0000
Distribution: F(2569,480295)

Included effects: Entity, Time

In [11]:
#TABLE 4 COLUMN 7
table_4_hom_df = muni[(muni['year'] <= 2006) & (muni['ac_data'] == 1)].dropna(subset = ['hom_rate', 'temp_pop', 'temp_ac'])
table_4_hom_df = table_4_hom_df.set_index(['muni_code', 'Date'])
table_4_hom_df = table_4_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_ac']]
table_4_hom_df

                               state  hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.149856  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  2.608534  124968.4375  13.100000
          2003-07-01       Zacatecas  0.000000  124968.4375  16.400000
          2005-12-01       Zacatecas  1.503913  124968.4375  11.900000
          2004-11-01       Zacatecas  1.517868  124968.4375  13.100000

                      precip_pop   temp_ac
muni_code Date
1001      2001-04-01    0.113894 -1.352743
          1998-04-01    0.000000 -0.896125
          2001-11-01    0.038703  0.769604
          2000-02-01    0.002461  0.381742
          2001-07-01    1.110245 -0.796479
...                          ...       ...
32056     2003-05-01    1.465000 -2.459257
          1993-03-01    0.016000  1.051976
          2003-07-01    1.907000 -0.396407
          2005-12-01    0.031000  1.578662
          2004-11-01    0.029000  1.051976

[121056 rows x 6 columns]

In [12]:
mod_table_4 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + temp_ac + TimeEffects + EntityEffects', data=table_4_hom_df, weights= table_4_hom_df['popw'])

result_hom2 = mod_table_4.fit(cov_type='clustered', clusters = table_4_hom_df['state'])

print(result_hom2.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0005
Estimator:                   PanelOLS   R-squared (Between):              0.2073
No. Observations:              121056   R-squared (Within):              -0.0003
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.1263
Time:                        23:35:26   Log-likelihood                -2.193e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      20.628
Entities:                         599   P-value                           0.0000
Avg Obs:                       202.10   Distribution:                F(3,120251)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             7.9397
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,120251)
Avg Obs:                       593.41
Min Obs:                       585.00
Max Obs:                       599.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0218     0.0053     4.1176     0.0000      0.0114      0.0321
precip_pop    -0.0049     0.0089    -0.5526     0.5805     -0.0223      0.0125
temp_ac       -0.0022     0.0012    -1.8150     0.0695     -0.0045      0.0002
==============================================================================

F-test for Poolability: 154.13
P-value: 0.0000
Distribution: F(801,120251)

Included effects: Entity, Time

In [13]:
#TABLE 4 COLUMN 8
table_4_hom_df = muni[muni['year'] <= 2006].dropna(subset = ['hom_rate', 'temp_pop', 'temp_avg_temp'])
table_4_hom_df = table_4_hom_df.set_index(['muni_code', 'Date'])
table_4_hom_df = table_4_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_avg_temp']]
table_4_hom_df

                               state   hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes   0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes   0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes   0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes   0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes   0.149856  655030.9375  21.856300
...                              ...        ...          ...        ...
32058     2006-11-01       Zacatecas   0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas   0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  38.355366    2711.0000  19.163700
          2006-03-01       Zacatecas   0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas   0.000000    2711.0000  26.785601

                      precip_pop  temp_avg_temp
muni_code Date
1001      2001-04-01    0.113894      -1.206640
          1998-04-01    0.000000      -0.799339
          2001-11-01    0.038703       0.686483
          2000-02-01    0.002461       0.340513
          2001-07-01    1.110245      -0.710456
...                          ...            ...
32058     2006-11-01    0.192440      -1.172714
          2005-12-01    0.000000      -1.664276
          2005-03-01    0.044328      -0.990494
          2006-03-01    0.002020      -0.231976
          2005-06-01    0.608296       1.981613

[493908 rows x 6 columns]

In [15]:
mod_table_4 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + temp_avg_temp + TimeEffects + EntityEffects', data=table_4_hom_df, weights= table_4_hom_df['popw'])

result_hom3 = mod_table_4.fit(cov_type='clustered', clusters = table_4_hom_df['state'])

print(result_hom3.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1660
No. Observations:              493908   R-squared (Within):              -0.0002
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0748
Time:                        23:37:41   Log-likelihood                -1.051e+06
Cov. Estimator:             Clustered
                                        F-statistic:                      32.758
Entities:                        2447   P-value                           0.0000
Avg Obs:                       201.84   Distribution:                F(3,491255)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             6.1980
                                        P-value                           0.0003
Time periods:                     204   Distribution:                F(3,491255)
Avg Obs:                       2421.1
Min Obs:                       2396.0
Max Obs:                       2447.0

                               Parameter Estimates
=================================================================================
               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------
temp_pop          0.0157     0.0038     4.0986     0.0000      0.0082      0.0232
precip_pop       -0.0031     0.0082    -0.3729     0.7093     -0.0192      0.0130
temp_avg_temp     0.0003     0.0018     0.1522     0.8790     -0.0032      0.0038
=================================================================================

F-test for Poolability: 100.44
P-value: 0.0000
Distribution: F(2649,491255)

Included effects: Entity, Time

In [16]:
stargazer = Stargazer([result_hom, result_hom1, result_hom2, result_hom3])

In [17]:
stargazer.render_latex()

'\\begin{table}[!htbp] \\centering\n\\begin{tabular}{@{\\extracolsep{5pt}}lcccc}\n\\\\[-1.8ex]\\hline\n\\hline \\\\[-1.8ex]\n& \\multicolumn{4}{c}{\\textit{Dependent variable: hom_rate}} \\\n\\cr \\cline{2-5}\n\\\\[-1.8ex] & (1) & (2) & (3) & (4) \\\\\n\\hline \\\\[-1.8ex]\n precip_pop & -0.003$^{}$ & -0.004$^{}$ & -0.005$^{}$ & -0.003$^{}$ \\\\\n& (0.008) & (0.008) & (0.009) & (0.008) \\\\\n temp_ac & & & -0.002$^{*}$ & \\\\\n& & & (0.001) & \\\\\n temp_avg_temp & & & & 0.000$^{}$ \\\\\n& & & & (0.002) \\\\\n temp_gini & & 0.001$^{}$ & & \\\\\n& & (0.003) & & \\\\\n temp_income & 0.003$^{}$ & & & \\\\\n& (0.002) & & & \\\\\n temp_pop & 0.014$^{***}$ & 0.016$^{***}$ & 0.022$^{***}$ & 0.016$^{***}$ \\\\\n& (0.004) & (0.004) & (0.005) & (0.004) \\\\\n\\hline \\\\[-1.8ex]\n Observations & 486132 & 482868 & 121056 & 493908 \\\\\n N. of groups & 2383 & 2367 & 599 & 2447 \\\\\n $R^2$ & 0.000 & 0.000 & 0.001 & 0.000 \\\\\n Residual Std. Error & 0.029 (df=483543) & 0.029 (df=480295) & 0.034 (df=120251) & 0.029 (df=491255) \\\\\n F Statistic & 33.295$^{***}$ (df=2589; 483543) & 32.459$^{***}$ (df=2573; 480295) & 20.628$^{***}$ (df=805; 120251) & 32.758$^{***}$ (df=2653; 491255) \\\\\n\\hline\n\\hline \\\\[-1.8ex]\n\\textit{Note:} & \\multicolumn{4}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\\\\n\\end{tabular}\n\\end{table}'

In [27]:
print(stargazer.render_latex())

\begin{table}[!htbp] \centering
\begin{tabular}{@{\extracolsep{5pt}}lcccc}
\\[-1.8ex]\hline
\hline \\[-1.8ex]
& \multicolumn{4}{c}{\textit{Dependent variable: hom_rate}} \
\cr \cline{2-5}
\\[-1.8ex] & (1) & (2) & (3) & (4) \\
\hline \\[-1.8ex]
 precip_pop & -0.003$^{}$ & -0.004$^{}$ & -0.005$^{}$ & -0.003$^{}$ \\
& (0.008) & (0.008) & (0.009) & (0.008) \\
 temp_ac & & & -0.002$^{*}$ & \\
& & & (0.001) & \\
 temp_avg_temp & & & & 0.000$^{}$ \\
& & & & (0.002) \\
 temp_gini & & 0.001$^{}$ & & \\
& & (0.003) & & \\
 temp_income & 0.003$^{}$ & & & \\
& (0.002) & & & \\
 temp_pop & 0.014$^{***}$ & 0.016$^{***}$ & 0.022$^{***}$ & 0.016$^{***}$ \\
& (0.004) & (0.004) & (0.005) & (0.004) \\
\hline \\[-1.8ex]
 Observations & 486132 & 482868 & 121056 & 493908 \\
 N. of groups & 2383 & 2367 & 599 & 2447 \\
 $R^2$ & 0.000 & 0.000 & 0.001 & 0.000 \\
 Residual Std. Error & 0.029 (df=483543) & 0.029 (df=480295) & 0.034 (df=120251) & 0.029 (df=491255) \\
 F Statistic & 33.295$^{***}$ (df=2589; 483543) & 32.459$^{***}$ (df=2573; 480295) & 20.628$^{***}$ (df=805; 120251) & 32.758$^{***}$ (df=2653; 491255) \\
\hline
\hline \\[-1.8ex]
\textit{Note:} & \multicolumn{4}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\
\end{tabular}
\end{table}

In [20]:
#TABLE 5 COLUMN 4
table_5_hom_df = muni[(muni['year'] <= 2006) & (muni['year'] >= 1998)].dropna(subset = ['hom_rate', 'temp_pop'])
table_5_hom_df = table_5_hom_df.set_index(['muni_code', 'Date'])
table_5_hom_df = table_5_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'precip_pop']]
table_5_hom_df

                               state   hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes   0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes   0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes   0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes   0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes   0.149856  655030.9375  21.856300
...                              ...        ...          ...        ...
32058     2006-11-01       Zacatecas   0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas   0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  38.355366    2711.0000  19.163700
          2006-03-01       Zacatecas   0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas   0.000000    2711.0000  26.785601

                      precip_pop
muni_code Date
1001      2001-04-01    0.113894
          1998-04-01    0.000000
          2001-11-01    0.038703
          2000-02-01    0.002461
          2001-07-01    1.110245
...                          ...
32058     2006-11-01    0.192440
          2005-12-01    0.000000
          2005-03-01    0.044328
          2006-03-01    0.002020
          2005-06-01    0.608296

[262992 rows x 5 columns]

In [21]:
mod_table_5 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + TimeEffects + EntityEffects', data=table_5_hom_df, weights= table_5_hom_df['popw'])

result_hom4 = mod_table_5.fit(cov_type='clustered', clusters = table_5_hom_df['state'])

print(result_hom4.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1777
No. Observations:              262992   R-squared (Within):              -0.0004
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0794
Time:                        23:46:50   Log-likelihood                -4.977e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      23.621
Entities:                        2447   P-value                           0.0000
Avg Obs:                       107.48   Distribution:                F(2,260436)
Min Obs:                       24.000
Max Obs:                       108.00   F-statistic (robust):             8.2345
                                        P-value                           0.0003
Time periods:                     108   Distribution:                F(2,260436)
Avg Obs:                       2435.1
Min Obs:                       2421.0
Max Obs:                       2447.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0127     0.0032     4.0075     0.0001      0.0065      0.0190
precip_pop     0.0071     0.0084     0.8434     0.3990     -0.0094      0.0235
==============================================================================

F-test for Poolability: 51.954
P-value: 0.0000
Distribution: F(2553,260436)

Included effects: Entity, Time

In [23]:
#TABLE 5 COLUMN 5
table_5_hom_df = muni[(muni['year'] <= 2006) & (muni['year'] >= 1998)].dropna(subset = ['hom_rate', 'temp_pop', 'progresa_per_capita'])
table_5_hom_df = table_5_hom_df.set_index(['muni_code', 'Date'])
table_5_hom_df = table_5_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'progresa_per_capita', 'precip_pop']]
table_5_hom_df

                               state   hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes   0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes   0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes   0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes   0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes   0.149856  655030.9375  21.856300
...                              ...        ...          ...        ...
32058     2006-11-01       Zacatecas   0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas   0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  38.355366    2711.0000  19.163700
          2006-03-01       Zacatecas   0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas   0.000000    2711.0000  26.785601

                      progresa_per_capita  precip_pop
muni_code Date
1001      2001-04-01             0.002714    0.113894
          1998-04-01             0.000000    0.000000
          2001-11-01             0.004456    0.038703
          2000-02-01             0.002706    0.002461
          2001-07-01             0.001304    1.110245
...                                   ...         ...
32058     2006-11-01             0.000000    0.192440
          2005-12-01             0.000000    0.000000
          2005-03-01             0.000000    0.044328
          2006-03-01             0.000000    0.002020
          2005-06-01             0.000000    0.608296

[262992 rows x 6 columns]

In [24]:
mod_table_5 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + progresa_per_capita + TimeEffects + EntityEffects', data=table_5_hom_df, weights= table_5_hom_df['popw'])

result_hom5 = mod_table_5.fit(cov_type='clustered', clusters = table_5_hom_df['state'])

print(result_hom5.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1778
No. Observations:              262992   R-squared (Within):              -0.0004
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0795
Time:                        23:49:00   Log-likelihood                -4.977e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      15.805
Entities:                        2447   P-value                           0.0000
Avg Obs:                       107.48   Distribution:                F(3,260435)
Min Obs:                       24.000
Max Obs:                       108.00   F-statistic (robust):             5.5385
                                        P-value                           0.0008
Time periods:                     108   Distribution:                F(3,260435)
Avg Obs:                       2435.1
Min Obs:                       2421.0
Max Obs:                       2447.0

                                  Parameter Estimates
=======================================================================================
                     Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------
temp_pop                0.0127     0.0032     4.0060     0.0001      0.0065      0.0190
precip_pop              0.0071     0.0084     0.8449     0.3982     -0.0093      0.0235
progresa_per_capita     0.0042     0.0114     0.3662     0.7142     -0.0182      0.0266
=======================================================================================

F-test for Poolability: 51.938
P-value: 0.0000
Distribution: F(2553,260435)

Included effects: Entity, Time

In [25]:
#TABLE 5 COLUMN 6
table_5_hom_df = muni[(muni['year'] <= 2006) & (muni['year'] >= 1998)].dropna(subset = ['hom_rate', 'temp_pop', 'progresa_per_capita', 'temp_progresa'])
table_5_hom_df = table_5_hom_df.set_index(['muni_code', 'Date'])
table_5_hom_df = table_5_hom_df[['state', 'hom_rate', 'popw', 'temp_pop', 'progresa_per_capita', 'temp_progresa', 'precip_pop']]
table_5_hom_df

                               state   hom_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes   0.301511  655030.9375  23.817400
          1998-04-01  Aguascalientes   0.642868  655030.9375  22.207600
          2001-11-01  Aguascalientes   0.297347  655030.9375  16.335100
          2000-02-01  Aguascalientes   0.000000  655030.9375  17.702499
          2001-07-01  Aguascalientes   0.149856  655030.9375  21.856300
...                              ...        ...          ...        ...
32058     2006-11-01       Zacatecas   0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas   0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  38.355366    2711.0000  19.163700
          2006-03-01       Zacatecas   0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas   0.000000    2711.0000  26.785601

                      progresa_per_capita  temp_progresa  precip_pop
muni_code Date
1001      2001-04-01             0.002714      -0.009950    0.113894
          1998-04-01             0.000000      -0.015165    0.000000
          2001-11-01             0.004456       0.000932    0.038703
          2000-02-01             0.002706       0.002818    0.002461
          2001-07-01             0.001304      -0.009817    1.110245
...                                   ...            ...         ...
32058     2006-11-01             0.000000       0.000000    0.192440
          2005-12-01             0.000000       0.000000    0.000000
          2005-03-01             0.000000       0.000000    0.044328
          2006-03-01             0.000000       0.000000    0.002020
          2005-06-01             0.000000       0.000000    0.608296

[262992 rows x 7 columns]

In [26]:
mod_table_5 = PanelOLS.from_formula('hom_rate ~ temp_pop + precip_pop + progresa_per_capita + temp_progresa + TimeEffects + EntityEffects', data=table_5_hom_df, weights= table_5_hom_df['popw'])

result_hom6 = mod_table_5.fit(cov_type='clustered', clusters = table_5_hom_df['state'])

print(result_hom6.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               hom_rate   R-squared:                        0.0002
Estimator:                   PanelOLS   R-squared (Between):              0.1780
No. Observations:              262992   R-squared (Within):              -0.0004
Date:                Thu, Apr 25 2024   R-squared (Overall):              0.0795
Time:                        23:50:03   Log-likelihood                -4.977e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      11.951
Entities:                        2447   P-value                           0.0000
Avg Obs:                       107.48   Distribution:                F(4,260434)
Min Obs:                       24.000
Max Obs:                       108.00   F-statistic (robust):             4.1933
                                        P-value                           0.0021
Time periods:                     108   Distribution:                F(4,260434)
Avg Obs:                       2435.1
Min Obs:                       2421.0
Max Obs:                       2447.0

                                  Parameter Estimates
=======================================================================================
                     Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------
temp_pop                0.0128     0.0032     4.0042     0.0001      0.0065      0.0190
precip_pop              0.0071     0.0084     0.8483     0.3963     -0.0093      0.0235
progresa_per_capita     0.0045     0.0116     0.3866     0.6991     -0.0183      0.0272
temp_progresa          -0.0024     0.0024    -1.0216     0.3070     -0.0070      0.0022
=======================================================================================

F-test for Poolability: 51.938
P-value: 0.0000
Distribution: F(2553,260434)

Included effects: Entity, Time

In [28]:
stargazer2 = Stargazer([result_hom4, result_hom5, result_hom6])

In [29]:
stargazer2.render_latex()

'\\begin{table}[!htbp] \\centering\n\\begin{tabular}{@{\\extracolsep{5pt}}lccc}\n\\\\[-1.8ex]\\hline\n\\hline \\\\[-1.8ex]\n& \\multicolumn{3}{c}{\\textit{Dependent variable: hom_rate}} \\\n\\cr \\cline{2-4}\n\\\\[-1.8ex] & (1) & (2) & (3) \\\\\n\\hline \\\\[-1.8ex]\n precip_pop & 0.007$^{}$ & 0.007$^{}$ & 0.007$^{}$ \\\\\n& (0.008) & (0.008) & (0.008) \\\\\n progresa_per_capita & & 0.004$^{}$ & 0.004$^{}$ \\\\\n& & (0.011) & (0.012) \\\\\n temp_pop & 0.013$^{***}$ & 0.013$^{***}$ & 0.013$^{***}$ \\\\\n& (0.003) & (0.003) & (0.003) \\\\\n temp_progresa & & & -0.002$^{}$ \\\\\n& & & (0.002) \\\\\n\\hline \\\\[-1.8ex]\n Observations & 262992 & 262992 & 262992 \\\\\n N. of groups & 2447 & 2447 & 2447 \\\\\n $R^2$ & 0.000 & 0.000 & 0.000 \\\\\n Residual Std. Error & 0.022 (df=260436) & 0.022 (df=260435) & 0.022 (df=260434) \\\\\n F Statistic & 23.621$^{***}$ (df=2556; 260436) & 15.805$^{***}$ (df=2557; 260435) & 11.951$^{***}$ (df=2558; 260434) \\\\\n\\hline\n\\hline \\\\[-1.8ex]\n\\textit{Note:} & \\multicolumn{3}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\\\\n\\end{tabular}\n\\end{table}'

In [4]:
#TABLE 8 					xtreg sui_rate  temp_pop                                    precip_pop i.year i.month if year <= 2006                [aw=popw], fe cl(state)
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32058     2006-11-01       Zacatecas  0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas  0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  0.000000    2711.0000  19.163700
          2006-03-01       Zacatecas  0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas  0.000000    2711.0000  26.785601

                      precip_pop
muni_code Date
1001      2001-04-01    0.113894
          1998-04-01    0.000000
          2001-11-01    0.038703
          2000-02-01    0.002461
          2001-07-01    1.110245
...                          ...
32058     2006-11-01    0.192440
          2005-12-01    0.000000
          2005-03-01    0.044328
          2006-03-01    0.002020
          2005-06-01    0.608296

[493908 rows x 5 columns]

In [5]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0003
Estimator:                   PanelOLS   R-squared (Between):              0.2921
No. Observations:              493908   R-squared (Within):               0.0006
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0765
Time:                        01:07:20   Log-likelihood                -5.606e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      85.888
Entities:                        2447   P-value                           0.0000
Avg Obs:                       201.84   Distribution:                F(2,491256)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             33.552
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(2,491256)
Avg Obs:                       2421.1
Min Obs:                       2396.0
Max Obs:                       2447.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0072     0.0010     7.2590     0.0000      0.0052      0.0091
precip_pop    -0.0048     0.0024    -2.0513     0.0402     -0.0094     -0.0002
==============================================================================

F-test for Poolability: 40.201
P-value: 0.0000
Distribution: F(2649,491256)

Included effects: Entity, Time

In [6]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_income'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_income']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  0.869511  124968.4375  13.100000
          2003-07-01       Zacatecas  0.771639  124968.4375  16.400000
          2005-12-01       Zacatecas  0.751956  124968.4375  11.900000
          2004-11-01       Zacatecas  0.758934  124968.4375  13.100000

                      precip_pop  temp_income
muni_code Date
1001      2001-04-01    0.113894     2.531495
          1998-04-01    0.000000     1.676989
          2001-11-01    0.038703    -1.440221
          2000-02-01    0.002461    -0.714385
          2001-07-01    1.110245     1.490514
...                          ...          ...
32056     2003-05-01    1.465000     1.397331
          1993-03-01    0.016000    -0.597725
          2003-07-01    1.907000     0.225235
          2005-12-01    0.031000    -0.896983
          2004-11-01    0.029000    -0.597725

[486132 rows x 6 columns]

In [8]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_income + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui2 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui2.summary)

In [9]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_gini'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_gini']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  0.869511  124968.4375  13.100000
          2003-07-01       Zacatecas  0.771639  124968.4375  16.400000
          2005-12-01       Zacatecas  0.751956  124968.4375  11.900000
          2004-11-01       Zacatecas  0.758934  124968.4375  13.100000

                      precip_pop  temp_gini
muni_code Date
1001      2001-04-01    0.113894   2.167502
          1998-04-01    0.000000   1.435862
          2001-11-01    0.038703  -1.233138
          2000-02-01    0.002461  -0.611667
          2001-07-01    1.110245   1.276200
...                          ...        ...
32056     2003-05-01    1.465000  -0.385651
          1993-03-01    0.016000   0.164967
          2003-07-01    1.907000  -0.062163
          2005-12-01    0.031000   0.247560
          2004-11-01    0.029000   0.164967

[482868 rows x 6 columns]

In [10]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_gini + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui3 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui3.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0004
Estimator:                   PanelOLS   R-squared (Between):              0.2886
No. Observations:              482868   R-squared (Within):               0.0006
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0764
Time:                        01:14:46   Log-likelihood                -5.452e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      57.417
Entities:                        2367   P-value                           0.0000
Avg Obs:                       204.00   Distribution:                F(3,480295)
Min Obs:                       204.00
Max Obs:                       204.00   F-statistic (robust):             23.819
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,480295)
Avg Obs:                       2367.0
Min Obs:                       2367.0
Max Obs:                       2367.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0071     0.0010     7.3739     0.0000      0.0052      0.0089
precip_pop    -0.0048     0.0024    -2.0124     0.0442     -0.0096     -0.0001
temp_gini      0.0005     0.0014     0.3476     0.7281     -0.0023      0.0033
==============================================================================

F-test for Poolability: 41.198
P-value: 0.0000
Distribution: F(2569,480295)

Included effects: Entity, Time

In [11]:
#TABLE 8 					
table_8_sui_df = muni[(muni['year'] <= 2006) & (muni['ac_data'] == 1)].dropna(subset = ['sui_rate', 'temp_pop', 'temp_ac'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_ac']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  0.869511  124968.4375  13.100000
          2003-07-01       Zacatecas  0.771639  124968.4375  16.400000
          2005-12-01       Zacatecas  0.751956  124968.4375  11.900000
          2004-11-01       Zacatecas  0.758934  124968.4375  13.100000

                      precip_pop   temp_ac
muni_code Date
1001      2001-04-01    0.113894 -1.352743
          1998-04-01    0.000000 -0.896125
          2001-11-01    0.038703  0.769604
          2000-02-01    0.002461  0.381742
          2001-07-01    1.110245 -0.796479
...                          ...       ...
32056     2003-05-01    1.465000 -2.459257
          1993-03-01    0.016000  1.051976
          2003-07-01    1.907000 -0.396407
          2005-12-01    0.031000  1.578662
          2004-11-01    0.029000  1.051976

[121056 rows x 6 columns]

In [12]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_ac + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui4 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui4.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0009
Estimator:                   PanelOLS   R-squared (Between):              0.1955
No. Observations:              121056   R-squared (Within):               0.0015
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0922
Time:                        01:15:07   Log-likelihood                -9.227e+04
Cov. Estimator:             Clustered
                                        F-statistic:                      36.915
Entities:                         599   P-value                           0.0000
Avg Obs:                       202.10   Distribution:                F(3,120251)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             37.087
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,120251)
Avg Obs:                       593.41
Min Obs:                       585.00
Max Obs:                       599.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0049     0.0019     2.6588     0.0078      0.0013      0.0086
precip_pop    -0.0059     0.0025    -2.3521     0.0187     -0.0108     -0.0010
temp_ac        0.0009     0.0009     0.9506     0.3418     -0.0010      0.0027
==============================================================================

F-test for Poolability: 83.472
P-value: 0.0000
Distribution: F(801,120251)

Included effects: Entity, Time

In [15]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_avg_temp'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_avg_temp']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32058     2006-11-01       Zacatecas  0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas  0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  0.000000    2711.0000  19.163700
          2006-03-01       Zacatecas  0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas  0.000000    2711.0000  26.785601

                      precip_pop  temp_avg_temp
muni_code Date
1001      2001-04-01    0.113894      -1.206640
          1998-04-01    0.000000      -0.799339
          2001-11-01    0.038703       0.686483
          2000-02-01    0.002461       0.340513
          2001-07-01    1.110245      -0.710456
...                          ...            ...
32058     2006-11-01    0.192440      -1.172714
          2005-12-01    0.000000      -1.664276
          2005-03-01    0.044328      -0.990494
          2006-03-01    0.002020      -0.231976
          2005-06-01    0.608296       1.981613

[493908 rows x 6 columns]

In [14]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_avg_temp + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui5 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui5.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0004
Estimator:                   PanelOLS   R-squared (Between):              0.2840
No. Observations:              493908   R-squared (Within):               0.0006
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0744
Time:                        01:16:19   Log-likelihood                -5.606e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      60.651
Entities:                        2447   P-value                           0.0000
Avg Obs:                       201.84   Distribution:                F(3,491255)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             22.507
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,491255)
Avg Obs:                       2421.1
Min Obs:                       2396.0
Max Obs:                       2447.0

                               Parameter Estimates
=================================================================================
               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------
temp_pop          0.0069     0.0011     6.4216     0.0000      0.0048      0.0090
precip_pop       -0.0048     0.0023    -2.0692     0.0385     -0.0093     -0.0003
temp_avg_temp     0.0012     0.0007     1.7988     0.0721     -0.0001      0.0025
=================================================================================

F-test for Poolability: 40.200
P-value: 0.0000
Distribution: F(2649,491255)

Included effects: Entity, Time

In [16]:
#TABLE 8 					
table_8_sui_df = muni[(muni['year'] <= 2006) & (muni['year'] >= 1998)].dropna(subset = ['sui_rate', 'temp_pop', 'progresa_per_capita', 'temp_progresa'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'progresa_per_capita', 'temp_progresa']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32058     2006-11-01       Zacatecas  0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas  0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  0.000000    2711.0000  19.163700
          2006-03-01       Zacatecas  0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas  0.000000    2711.0000  26.785601

                      precip_pop  progresa_per_capita  temp_progresa
muni_code Date
1001      2001-04-01    0.113894             0.002714      -0.009950
          1998-04-01    0.000000             0.000000      -0.015165
          2001-11-01    0.038703             0.004456       0.000932
          2000-02-01    0.002461             0.002706       0.002818
          2001-07-01    1.110245             0.001304      -0.009817
...                          ...                  ...            ...
32058     2006-11-01    0.192440             0.000000       0.000000
          2005-12-01    0.000000             0.000000       0.000000
          2005-03-01    0.044328             0.000000       0.000000
          2006-03-01    0.002020             0.000000       0.000000
          2005-06-01    0.608296             0.000000       0.000000

[262992 rows x 7 columns]

In [17]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + progresa_per_capita + temp_progresa + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui6 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui6.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0005
Estimator:                   PanelOLS   R-squared (Between):              0.3705
No. Observations:              262992   R-squared (Within):               0.0007
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0987
Time:                        01:17:08   Log-likelihood                -3.103e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      33.831
Entities:                        2447   P-value                           0.0000
Avg Obs:                       107.48   Distribution:                F(4,260434)
Min Obs:                       24.000
Max Obs:                       108.00   F-statistic (robust):             13.204
                                        P-value                           0.0000
Time periods:                     108   Distribution:                F(4,260434)
Avg Obs:                       2435.1
Min Obs:                       2421.0
Max Obs:                       2447.0

                                  Parameter Estimates
=======================================================================================
                     Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------
temp_pop                0.0093     0.0014     6.7722     0.0000      0.0066      0.0120
precip_pop             -0.0044     0.0028    -1.6086     0.1077     -0.0099      0.0010
progresa_per_capita    -0.0091     0.0050    -1.8277     0.0676     -0.0189      0.0007
temp_progresa          -0.0020     0.0021    -0.9256     0.3546     -0.0061      0.0022
=======================================================================================

F-test for Poolability: 19.723
P-value: 0.0000
Distribution: F(2553,260434)

Included effects: Entity, Time

In [18]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_growing_season', 'growing_season'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_growing_season', 'growing_season']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32058     2006-11-01       Zacatecas  0.000000    2711.0000  18.696400
          2005-12-01       Zacatecas  0.000000    2711.0000  17.435801
          2005-03-01       Zacatecas  0.000000    2711.0000  19.163700
          2006-03-01       Zacatecas  0.000000    2711.0000  21.108900
          2005-06-01       Zacatecas  0.000000    2711.0000  26.785601

                      precip_pop  temp_growing_season  growing_season
muni_code Date
1001      2001-04-01    0.113894             4.769073             1.0
          1998-04-01    0.000000             3.159273             1.0
          2001-11-01    0.038703             0.000000             0.0
          2000-02-01    0.002461             0.000000             0.0
          2001-07-01    1.110245             2.807974             1.0
...                          ...                  ...             ...
32058     2006-11-01    0.192440             0.000000             0.0
          2005-12-01    0.000000             0.000000             0.0
          2005-03-01    0.044328             0.000000             0.0
          2006-03-01    0.002020             0.000000             0.0
          2005-06-01    0.608296             5.081802             1.0

[493908 rows x 7 columns]

In [19]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_growing_season + growing_season + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'], drop_absorbed=True)

result_sui7 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui7.summary)

C:\Users\Alice Modica\AppData\Local\Temp\ipykernel_11656\506251999.py:3: AbsorbingEffectWarning:
Variables have been fully absorbed and have removed from the regression:

growing_season

  result_sui7 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0004
Estimator:                   PanelOLS   R-squared (Between):              0.3380
No. Observations:              493908   R-squared (Within):               0.0005
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0884
Time:                        01:18:07   Log-likelihood                -5.606e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      59.064
Entities:                        2447   P-value                           0.0000
Avg Obs:                       201.84   Distribution:                F(3,491255)
Min Obs:                       24.000
Max Obs:                       204.00   F-statistic (robust):             24.749
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,491255)
Avg Obs:                       2421.1
Min Obs:                       2396.0
Max Obs:                       2447.0

                                  Parameter Estimates
=======================================================================================
                     Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------
temp_pop                0.0093     0.0017     5.4755     0.0000      0.0060      0.0126
precip_pop             -0.0051     0.0023    -2.1731     0.0298     -0.0097     -0.0005
temp_growing_season    -0.0040     0.0019    -2.1662     0.0303     -0.0077     -0.0004
=======================================================================================

F-test for Poolability: 40.147
P-value: 0.0000
Distribution: F(2649,491255)

Included effects: Entity, Time

In [20]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_rural'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_rural']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  0.869511  124968.4375  13.100000
          2003-07-01       Zacatecas  0.771639  124968.4375  16.400000
          2005-12-01       Zacatecas  0.751956  124968.4375  11.900000
          2004-11-01       Zacatecas  0.758934  124968.4375  13.100000

                      precip_pop  temp_rural
muni_code Date
1001      2001-04-01    0.113894   -7.394476
          1998-04-01    0.000000   -4.898471
          2001-11-01    0.038703    4.206873
          2000-02-01    0.002461    2.086713
          2001-07-01    1.110245   -4.353780
...                          ...         ...
32056     2003-05-01    1.465000   -8.945066
          1993-03-01    0.016000    3.826359
          2003-07-01    1.907000   -1.441853
          2005-12-01    0.031000    5.742074
          2004-11-01    0.029000    3.826359

[488784 rows x 6 columns]

In [21]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_rural + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui8 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui8.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0004
Estimator:                   PanelOLS   R-squared (Between):              0.2801
No. Observations:              488784   R-squared (Within):               0.0006
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0739
Time:                        01:19:11   Log-likelihood                -5.531e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      57.850
Entities:                        2396   P-value                           0.0000
Avg Obs:                       204.00   Distribution:                F(3,486182)
Min Obs:                       204.00
Max Obs:                       204.00   F-statistic (robust):             23.182
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,486182)
Avg Obs:                       2396.0
Min Obs:                       2396.0
Max Obs:                       2396.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0068     0.0015     4.6382     0.0000      0.0039      0.0096
precip_pop    -0.0049     0.0024    -2.0192     0.0435     -0.0096     -0.0001
temp_rural    -0.0003     0.0007    -0.4070     0.6840     -0.0017      0.0011
==============================================================================

F-test for Poolability: 41.028
P-value: 0.0000
Distribution: F(2598,486182)

Included effects: Entity, Time

In [22]:
#TABLE 8 					
table_8_sui_df = muni[muni['year'] <= 2006].dropna(subset = ['sui_rate', 'temp_pop', 'temp_agric'])
table_8_sui_df = table_8_sui_df.set_index(['muni_code', 'Date'])
table_8_sui_df = table_8_sui_df[['state', 'sui_rate', 'popw', 'temp_pop', 'precip_pop', 'temp_agric']]
table_8_sui_df

                               state  sui_rate         popw   temp_pop  \
muni_code Date
1001      2001-04-01  Aguascalientes  0.150756  655030.9375  23.817400
          1998-04-01  Aguascalientes  0.160717  655030.9375  22.207600
          2001-11-01  Aguascalientes  0.446021  655030.9375  16.335100
          2000-02-01  Aguascalientes  0.620399  655030.9375  17.702499
          2001-07-01  Aguascalientes  0.449569  655030.9375  21.856300
...                              ...       ...          ...        ...
32056     2003-05-01       Zacatecas  0.773258  124968.4375  21.100000
          1993-03-01       Zacatecas  0.869511  124968.4375  13.100000
          2003-07-01       Zacatecas  0.771639  124968.4375  16.400000
          2005-12-01       Zacatecas  0.751956  124968.4375  11.900000
          2004-11-01       Zacatecas  0.758934  124968.4375  13.100000

                      precip_pop  temp_agric
muni_code Date
1001      2001-04-01    0.113894   -9.399092
          1998-04-01    0.000000   -6.226429
          2001-11-01    0.038703    5.347341
          2000-02-01    0.002461    2.652413
          2001-07-01    1.110245   -5.534073
...                          ...         ...
32056     2003-05-01    1.465000  -11.386839
          1993-03-01    0.016000    4.870856
          2003-07-01    1.907000   -1.835442
          2005-12-01    0.031000    7.309511
          2004-11-01    0.029000    4.870856

[488784 rows x 6 columns]

In [23]:
mod_table_8 = PanelOLS.from_formula('sui_rate ~ temp_pop + precip_pop + temp_agric + TimeEffects + EntityEffects', data=table_8_sui_df, weights= table_8_sui_df['popw'])

result_sui9 = mod_table_8.fit(cov_type='clustered', clusters = table_8_sui_df['state'])

print(result_sui9.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:               sui_rate   R-squared:                        0.0004
Estimator:                   PanelOLS   R-squared (Between):              0.2695
No. Observations:              488784   R-squared (Within):               0.0006
Date:                Fri, Apr 26 2024   R-squared (Overall):              0.0711
Time:                        01:20:23   Log-likelihood                -5.531e+05
Cov. Estimator:             Clustered
                                        F-statistic:                      58.214
Entities:                        2396   P-value                           0.0000
Avg Obs:                       204.00   Distribution:                F(3,486182)
Min Obs:                       204.00
Max Obs:                       204.00   F-statistic (robust):             23.755
                                        P-value                           0.0000
Time periods:                     204   Distribution:                F(3,486182)
Avg Obs:                       2396.0
Min Obs:                       2396.0
Max Obs:                       2396.0

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
temp_pop       0.0064     0.0014     4.7461     0.0000      0.0038      0.0091
precip_pop    -0.0048     0.0024    -2.0001     0.0455     -0.0096  -9.685e-05
temp_agric    -0.0005     0.0006    -0.8419     0.3998     -0.0016      0.0006
==============================================================================

F-test for Poolability: 41.029
P-value: 0.0000
Distribution: F(2598,486182)

Included effects: Entity, Time

In [ ]:
pip install stargazer

In [25]:
stargazer3 = Stargazer([result_sui, result_sui2, result_sui3, result_sui4, result_sui5, result_sui6, result_sui7, result_sui8, result_sui9])

In [26]:
stargazer3.render_latex()

'\\begin{table}[!htbp] \\centering\n\\begin{tabular}{@{\\extracolsep{5pt}}lccccccccc}\n\\\\[-1.8ex]\\hline\n\\hline \\\\[-1.8ex]\n& \\multicolumn{9}{c}{\\textit{Dependent variable: sui_rate}} \\\n\\cr \\cline{2-10}\n\\\\[-1.8ex] & (1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) & (9) \\\\\n\\hline \\\\[-1.8ex]\n precip_pop & -0.005$^{*}$ & -0.005$^{*}$ & -0.005$^{**}$ & -0.006$^{**}$ & -0.005$^{**}$ & -0.004$^{}$ & -0.005$^{**}$ & -0.005$^{**}$ & -0.005$^{**}$ \\\\\n& (0.002) & (0.002) & (0.002) & (0.003) & (0.002) & (0.003) & (0.002) & (0.002) & (0.002) \\\\\n progresa_per_capita & & & & & & -0.009$^{*}$ & & & \\\\\n& & & & & & (0.005) & & & \\\\\n temp_ac & & & & 0.001$^{}$ & & & & & \\\\\n& & & & (0.001) & & & & & \\\\\n temp_agric & & & & & & & & & -0.000$^{}$ \\\\\n& & & & & & & & & (0.001) \\\\\n temp_avg_temp & & & & & 0.001$^{*}$ & & & & \\\\\n& & & & & (0.001) & & & & \\\\\n temp_gini & & & 0.000$^{}$ & & & & & & \\\\\n& & & (0.001) & & & & & & \\\\\n temp_growing_season & & & & & & & -0.004$^{**}$ & & \\\\\n& & & & & & & (0.002) & & \\\\\n temp_income & 0.001$^{}$ & 0.001$^{}$ & & & & & & & \\\\\n& (0.001) & (0.001) & & & & & & & \\\\\n temp_pop & 0.006$^{***}$ & 0.006$^{***}$ & 0.007$^{***}$ & 0.005$^{***}$ & 0.007$^{***}$ & 0.009$^{***}$ & 0.009$^{***}$ & 0.007$^{***}$ & 0.006$^{***}$ \\\\\n& (0.001) & (0.001) & (0.001) & (0.002) & (0.001) & (0.001) & (0.002) & (0.001) & (0.001) \\\\\n temp_progresa & & & & & & -0.002$^{}$ & & & \\\\\n& & & & & & (0.002) & & & \\\\\n temp_rural & & & & & & & & -0.000$^{}$ & \\\\\n& & & & & & & & (0.001) & \\\\\n\\hline \\\\[-1.8ex]\n Observations & 486132 & 486132 & 482868 & 121056 & 493908 & 262992 & 493908 & 488784 & 488784 \\\\\n N. of groups & 2383 & 2383 & 2367 & 599 & 2447 & 2447 & 2447 & 2396 & 2396 \\\\\n $R^2$ & 0.000 & 0.000 & 0.000 & 0.001 & 0.000 & 0.001 & 0.000 & 0.000 & 0.000 \\\\\n Residual Std. Error & 0.014 (df=483543) & 0.014 (df=483543) & 0.014 (df=480295) & 0.016 (df=120251) & 0.015 (df=491255) & 0.018 (df=260434) & 0.014 (df=491255) & 0.014 (df=486182) & 0.014 (df=486182) \\\\\n F Statistic & 58.285$^{***}$ (df=2589; 483543) & 58.285$^{***}$ (df=2589; 483543) & 57.417$^{***}$ (df=2573; 480295) & 36.915$^{***}$ (df=805; 120251) & 60.651$^{***}$ (df=2653; 491255) & 33.831$^{***}$ (df=2558; 260434) & 59.064$^{***}$ (df=2653; 491255) & 57.850$^{***}$ (df=2602; 486182) & 58.214$^{***}$ (df=2602; 486182) \\\\\n\\hline\n\\hline \\\\[-1.8ex]\n\\textit{Note:} & \\multicolumn{9}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\\\\n\\end{tabular}\n\\end{table}'